@charset "utf-8";

/* :root {
    border: hotpink 1px solid;
} */

/* ul > li {
    color: green;
} */

/* ul > li:first-child {
    color: red;
} */

/* ul > li:nth-child(2) {
    color:red;
} */

/* div>p:nth-last-of-type(1) {
    color: red;
} */

/* input:enabled{border: 1px solid red;}
input:disabled{border: 1px solid black;} */
/* 
input:checked {display: none;}
input:vertical {color: blueviolet;} */

/* a:link { color: brown;}
a:visited {color: aqua;}
a:hover {color: forestgreen;} */

/* a:not([href*="baidu"]) {color: forestgreen;} */
/* 
:empty {display: none;} */

/* b:target{color: red;} */
 
/* span {color: rebeccapurple;
font-size:20px;
font-weight: bold;
font-variant: small-caps;} */

span {
     
    text-decoration: underline;
    text-shadow:5px 5px 3px gray ;
    text-transform: capitalize;
     
    word-wrap: break-word;
}