@charset "utf-8";

div {
    /* background:silver;
    width:200px;
    height: 200px;
    margin: 20px;
    
    overflow-x: scroll; */

    visibility: collapse;
}

table tr:first-child {
    visibility:collapse;
   
}